.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.resultItem {
    flex-grow: 0;
    flex-shrink: 0;
    transition: all 0.3s ease
}

.fullWidth {
    flex-basis: 100%;
    max-width: 100%;
}

.halfWidth {
    flex-basis: calc(50% - 5px);
    max-width: calc(50% - 5px);
}

@media (max-width: 1200px) {
    .resultItem {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.dataContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    align-items: flex-start;
    align-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
}

.checkboxAndTextContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    gap: 5px;
}

.no-pdf {
    display: none;
  }

.checkboxContainer {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
}

.removeComponentButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: transparent;
    color: var(--tertiary);
    border: none;
}

.removeComponentButton:hover {
    color: var(--contrast);
}

.downloadComponentButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: transparent;
    color: var(--tertiary);
    border: none;
}

.downloadComponentButton:hover {
    color: var(--primary);
}


.dataTitle {
    display: flex;
    width: 100%;
    justify-content: center;
}

.maxwidthGraphContainer {
    min-width: 350px;
    width: 100%;
    max-width: 1465px;
}

.halfwidthTableContainer {
    min-width: 350px;
    width: 100%;
    max-width: 700px;
}

.halfwidthGraphContainer {
    min-width: 350px;
    width: 100%;
    max-width: 700px;
}

