.fetchDataContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.selectGroupContainer {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    padding: 10px;
}

.sectoresContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 122px;
    flex-wrap: wrap;
    gap: 9px;
}

.addComponentContainer {
    padding-bottom: 10px;
    padding-right: 10px;
}
