.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.titleContainer h2 {
    padding: 6px;
}

.fetchDataContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.selectGroupContainer {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    padding: 10px;
}

.selectContainer {
    min-width: 180px;
    max-width: 310px;
    display: flex;
    flex-direction: column;
}

.sectoresContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 370px;
    flex-wrap: wrap;
    gap: 5px;
}

.addComponentContainer {
    padding: 10px;
}

.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }
  
  .resultItem {
    flex-grow: 0;
    flex-shrink: 0;
    transition: all 0.3s ease
  }
  
  .fullWidth {
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .halfWidth {
    flex-basis: calc(50% - 5px);
    max-width: calc(50% - 5px);
  }
  
  /* .rowStart {
    margin-right: auto;
  } */
  
  /* .rowEnd {
    margin-left: auto;
  } */
  
  @media (max-width: 1200px) {
    .resultItem {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  
  /* Resto de tus estilos... */



.toggleContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dataContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
}

.maxwidthGraphContainer {
    min-width: 350px;
    width: 100%;
    max-width: 1465px;
    /* padding: 5px; */
}

.halfwidthTableContainer {
    min-width: 350px;
    width: 100%;
    max-width: 730px;
    /* padding: 5px; */
}

.halfwidthGraphContainer {
    min-width: 350px;
    width: 100%;
    max-width: 730px;
    /* padding: 5px; */
}

.removeButtonContainer {
    display: flex;
    justify-content: right;
    width: 100%;
}

.removeComponentButton {
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: var(--tertiary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.removeComponentButton:hover {
    color: var(--contrast);
}